//-
//- Copyright (c) 2013 TopCoder, Inc. All rights reserved.
//- @author TCSASSEMBLER
//-
!!!
html
  head
    title Authorization successful
  body
    h3 Authorization successful
    p Token: #{accessToken}
    p expirationTime #{expirationTime}
    p scope #{JSON.stringify(scope)}