*.iml
*.ipr
*.iws
*.log
log
pids
deploy/prod.sh
deploy/env.sh
node_modules
test/tmp/submissions/*.zip
test/tmp/design_submissions/*.zip
test/tmp/design_tmp_submissions/*.zip
test/tmp/memberPhoto/*
.idea
.settings
**/jdk-8u51-linux-x64.gz
*.swp
