FORMAT: 1A
HOST: http://api.topcoder.com/v2

# TopCoder API
Programmatically access TopCoder challenges and members.

# Group Authorization
Authorization APIs

## Create JWT Token [/auth]
### Create JWT Token [POST]
+ Parameters
    + username (required, string, `heffan`) ... The username
    + password (required, string, `password`) ... The password

+ Response 200 (application/json)

        {
             "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3NtYS5hdXRoMC5jb20vIiwic3ViIjoiYWR8"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Refresh JWT Token [/reauth]
### Refresh JWT Token [POST]
+ Parameters
    + token (required, string, `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3NtYS5hdXRoMC5jb20vIiwic3ViIjoiYWR8`) ... The old JWT token

+ Response 200 (application/json)

        {
             "token": "DyJCdeAiOiH7V1QiLCJhbGciOiJI5zI1NiJ9.eyJpc3MiOiJodHRrezovL3NtYS5uyXRoMC5jb20vIiwic3ViIoo4XSO2"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Validate SSO Cookie [/validation/sso]
### Validate SSO Cookie [GET]
+ Parameters
    + Cookie (required, string, `tcsso=132456|4a6acc4d5327773989a7e8c23b04e8cd1c3da79a1256590973ed731ffa0f24a2`) ... The sso cookie

+ Response 200 (application/json)

        {
             "userId": 132456
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

# Group Reports
Report APIs

## Challenge Costs [/reports/costs/{startDate}/{endDate}?clientid={clientId}&billingId={billingId}&projectId={projectId}&challengeId={challengeId}]
### Challenge Costs [GET]

+ Parameters
    + startDate (required, string, `2013-07-01`) ... Start Date
    + endDate (required, string, `2013-12-01`) ... End Date
    + clientId (optional, number, `4310`) ... Client Id
    + billingId (optional, number, `2310`) ... Billing Id
    + projectId (optional, number, `6707`) ... Project Id
    + challengeId (optional, number, `30000001`) ... Challenge Id

+ Response 200 (application/json)

        {
             "history":
             [
                {
                    "paymentDate": "2013-09-12",
                    "clientName": "Topcoder",
                    "clientId": 1,
                    "billingName": "Topcoder2013",
                    "projectName": "CS-TC API",
                    "challengeName": "challenge 1",
                    "challengeId": 30030010,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "launchDate": "2013-08-10",
                    "completionDate": "2013-08-25",
                    "paymentType": "contest fee",
                    "amount": 5000.0
                },
                {
                    "paymentDate": "2013-09-15",
                    "clientName": "Topcoder",
                    "clientId": 1,
                    "billingName": "Topcoder2013",
                    "projectName": "CS-TC API",
                    "challengeName": "challenge 2",
                    "challengeId": 30030012,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "launchDate": "2013-08-12",
                    "completionDate": "2013-08-27",
                    "paymentType": "contest fee",
                    "amount": 5000.0
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Client Challenge Costs [/reports/client/costs/?startDate={startDate}&endDate={endDate}&clientid={clientId}]
### Client Challenge Costs [GET]

+ Parameters
    + startDate (optional, string, `2013-07-01`) ... Start Date
    + endDate (optional, string, `2013-12-01`) ... End Date
    + clientId (optional, number, `4310`) ... Client Id

+ Response 200 (application/json)

        {
             "history":
             [
                {
                    "customerName": "Topcoder",
                    "customerId": 1,
                    "projectName": "CS-TC API",
                    "projectId": 1234,
                    "challengeName": "challenge 1",
                    "challengeId": 30030010,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "postingDate": "2013-08-10",
                    "completionDate": "2013-08-25",
                    "challengeFulfillment": 75,
                    "challengeMemberCost": 5000.0,
                    "challengeFee": 2500.0,
                    "challengeTotalCost": 7500.0,
                    "challengeDuration": 13.47
                },
                {
                    "customerName": "Topcoder2",
                    "customerId": 2,
                    "projectName": "NodeJS API",
                    "projectId": 1235,
                    "challengeName": "challenge 2",
                    "challengeId": 30030011,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "postingDate": "2013-08-11",
                    "completionDate": "2013-08-26",
                    "challengeFulfillment": 80,
                    "challengeMemberCost": 5000.0,
                    "challengeFee": 2500.0,
                    "challengeTotalCost": 7500.0,
                    "challengeDuration": 13.78
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Client Active Challenge Costs [/reports/client/activeCosts/?clientid={clientId}&sfdcAccountId={cmc}&customerNumber={customerNumber}]
### Client Active Challenge Costs [GET]

+ Parameters
    + clientId (optional, number, `4310`) ... Client Id
    + sfdcAccountId (optional, string, `4310`) ... CMC account ID
    + customerNumber (optional, string, `4310`) ... Customer number

+ Response 200 (application/json)

{
    "active": [
        {
            "customerName": "Client 9000001",
            "customerNumber": "900000100",
            "customerId": 9000001,
            "billingAccountId": 9000001,
            "billingAccountName": "Client 9000001 Billing Account 1",
            "projectName": "Client 9000001 Billing Account 1 Project 2",
            "challengeName": "Logo Design Contest 2",
            "challengeId": 9000002,
            "challengeType": "Logo Design",
            "challengeStatus": "Active",
            "postingDate": "2014-03-27",
            "completionDate": "2014-03-29",
            "challengeMemberCost": 0,
            "challengeFee": 375,
            "challengeTotalCost": 375,
            "challengeDuration": 1.8,
            "lastModificationDate": "2014-03-29",
            "registrationEndDate": "2014-03-29",
            "submissionEndDate": "2014-04-03",
            "checkpointEndDate": "2014-03-30",
            "currentPhase": "Checkpoint Screening",
            "firstPrize": 1700,
            "totalPrize": 1870,
            "checkpointPrize": 170,
            "registrantsCount": 2,
            "submissionsCount": 0,
            "checkpointSubmissionsCount": 2,
            "challengeScheduledEndDate": "2014-04-08",
            "reliability": 4
        },
        {
            "customerName": "Client 9000001",
            "customerNumber": "900000100",
            "customerId": 9000001,
            "billingAccountId": 9000002,
            "billingAccountName": "Client 9000001 Billing Account 2",
            "projectName": "Client 9000001 Billing Account 2 Project 1",
            "challengeName": "Conceptualization Contest 3",
            "challengeId": 9000003,
            "challengeType": "Conceptualization",
            "challengeStatus": "Active",
            "postingDate": "2014-03-25",
            "completionDate": "2014-03-29",
            "challengeMemberCost": 0,
            "challengeFee": 6001,
            "challengeTotalCost": 6001,
            "challengeDuration": 4.3,
            "lastModificationDate": "2014-03-29",
            "registrationEndDate": "2014-03-27",
            "submissionEndDate": "2014-03-30",
            "checkpointEndDate": "2014-03-28",
            "currentPhase": "Submission",
            "firstPrize": 1000,
            "totalPrize": 1088,
            "checkpointPrize": 88,
            "registrantsCount": 3,
            "submissionsCount": 0,
            "checkpointSubmissionsCount": 3,
            "challengeScheduledEndDate": "2014-04-10",
            "reliability": 227
        }
    ]
}
+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"Client not found"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Challenge Analyze [/reports/analyze]
        
## Challenge Analyze [/reports/analyze?projectId={projectId}&openRegistrationDateFrom={openRegistrationDateFrom}&openRegistrationDateTo={openRegistrationDateTo}&challengeType={challengeType}&challengeName={challengeName}&prizeLower={prizeLower}&prizeUpper={prizeUpper}]
### Challenge Analyze [GET]

+ Parameters
    + projectId (optional, string, `1245`) ... The project id.
    + openRegistrationDateFrom (optional, string, `2014-04-01`) ... The open registration date from.
    + openRegistrationDateTo (optional, string, `2014-04-05`) ... The open registration date to.
    + challengeType (optional, string, `Wireframes`) ... The challenge type.
    + challengeName (optional, string, `TC-API`) ... The challenge name.
    + prizeLower (optional, number, `500`) ... The prize lower bound
    + prizeUpper (optional, number, `1800`) ... The prize upper bound.

+ Response 200 (application/json)

        {
             "results":
             [
                {
                    "challengeName": "TC-API Analzye API",
                    "projectName": "TC-API",
                    "challengeType": "Assembly",
                    "client": "Topcoder",
                    "copilot": "iRabbit",
                    "csm": [
                        "nlouie"
                    ]
                    "architect": "none",
                    "pm": [
                        "nlouie",
                        "Shannon"
                    ]
                    "challengeStatus": "Active",
                    "currentPhase": "Registration",
                    "numberOfRegistrants": 15,
                    "numberOfUnregistered": 5,
                    "estimatedNumberOfSubmissions": 3,
                    "currentNumberOfSubmissions": 1,
                    "openRegistrationDate": "2014-04-01",
                    "forumPosts": "11/25",
                    "numberOfUnansweredThread": 3,
                    "1stPlacePrize": "1600/1400.0",
                    "2ndPlacePrize": "750/800.0",
                    "numberOfDaysLive": "13.5/0.5",
                    "rating": "3/5/10",
                    "numberOfRepost": 0
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"openRegistrationDateFrom is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"openRegistrationDateTo is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"startDate should be earlier than endDate or at same date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeLower should be greater or equal to 0"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeLower should be number."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeLower should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeLower should be Integer."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeUpper should be greater or equal to 0"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeUpper should be number."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeUpper should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"prizeUpper should be Integer."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"projectId should be positive."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"projectId should be number."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"projectId should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"projectId should be Integer."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The challengeType parameter is not a correct project category value."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authorized information needed."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"You don't have access to this api."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Track Statistics [/reports/{track}?startDate={startDate}&endDate={endDate}]
### Track Statistics [GET]

+ Parameters
    + track (required, string, `design`) ... Track Name. Only allow "Design", "Develop" and "Data"
    + startDate (optional, string, `2013-01-01`) ... timespan start date
    + endDate (optional, string, `2014-01-01`) ... timespan end date

+ Response 200 (application/json)

        {
            "numberOfRunningChallenges": 10,
            "totalPrizeOfRunningChallenges": 13500,
            "totalPrizeInGivenTime": 120000,
            "numberOfChallengesInGivenTime": 100,
            "numberOfRegisteredUsers": 90,
            "numberOfActiveUsers": 50
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"startDate is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"endDate is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"startDate should be earlier than endDate or at same date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"track should be an element of develop,design,data."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

# Group Platform
Platform APIs

## Activity Summary [/platform/activitySummary]
### Get Activity Summary [GET]

+ Response 200 (application/json)

        {
            "activeContestsCount": 50,
            "activeMembersCount": 500000,
            "activeProjectsCount": 30,
            "completedProjectsCount": 500,
            "prizePurse": "$100000"
        }

## Active Billing Accounts [/platform/activeBillingAccounts]
### Get Activity Summary [GET]

+ Response 200 (application/json)

        {
            "activeBillingAccounts": [
                {
                    "clientName": "client1",
                    "clientCustomerNumber": "customer1",
                    "clientId": 70014096,
                    "billingAccountId": 70016343,
                    "billingAccountName": "Liquid",
                    "subscriptionNumber": "s",
                    "projectStartDate": "2009-01-01T00:00:00.000Z",
                    "projectEndDate": "2099-01-01T00:00:00.000Z",
                    "poNumber": "TC0000377"
                },
                {
                    ""clientName": "client2",
                    "clientCustomerNumber": "customer2",
                    "clientId": 70014096,
                    "billingAccountId": 70016347,
                    "billingAccountName": "CIO projects",
                    "subscriptionNumber": "d",
                    "projectStartDate": "2009-01-01T00:00:00.000Z",
                    "projectEndDate": "2099-01-01T00:00:00.000Z",
                    "poNumber": "TC0000381"
                }
            ]
        }

## Customer [/platform/customer]
### Create Customer [POST]
+ Parameters
    + name (required, string, `custABCD`) ... The customer name
    + customerNumber (required, string, `custABCDNum`) ... The customer number

+ Response 200 (application/json)

        {
             "clientId": "1000021"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }



## Billing [/platform/billing]
### Create Billing [POST]
+ Parameters
    + subscriptionNumber (required, string, `snABCD`) ... The subscription number of the project to create
    + customerNumber (required, string, `cnDEFG`) ... The customer number of the client with which to associate the project

+ Response 200 (application/json)

        {
             "billingAccountId": "1000021"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Billing [/platform/billing]
### Create Billing [POST]
+ Parameters
    + billingAccountName (required, string, `snABCD`) ... The billingAccountName of the project to create
    + customerNumber (required, string, `cnDEFG`) ... The customer number of the client with which to associate the project

+ Response 200 (application/json)

        {
             "billingAccountId": "1000021"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


# Group User Profile
Register a new user.

## Users [/users]
+ Model (application/json)

        {
            "firstname" : "John",
            "lastname" : "Doe",
            "handle" : "uniqueLogin",
            "country" : "UK",
            "email" : "name@domain.com",
            "password" : "HashedPassword",
            "regSource": "http://registration.source.domain.com",
            "utm_source": "a",
            "utm_medium": "b",
            "utm_campaign": "c"
        }

### Create a new user [POST]
+ Request (application/json)

    [Users][]

+ Response 200 (application/json)

        {
            "name":"OK",
            "value":"200",
            "description":"This message will contain the new user id."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 422 (application/json)

        {
            "name":"Unprocessable Entity",
            "value":"422",
            "description":"This message will explain why the POST data was not accepted."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

### Create a new user via social login [POST]
+ Request (application/json)

        {
            "firstname" : "John",
            "lastname" : "Doe",
            "handle" : "uniqueLogin",
            "country" : "UK",
            "email" : "name@domain.com",
            "socialProvider" : "google",
            "socialUserId": "3003300",
            "socialUserName" : "JohnsGoogleName",
            "socialEmail" : "john@gmail.com",
            "socialEmailVerified" : "true",
            "regSource": "TC API"
        }

+ Response 200 (application/json)

        {
            "name":"OK",
            "value":"200",
            "description":"This message will contain the new user id."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 422 (application/json)

        {
            "name":"Unprocessable Entity",
            "value":"422",
            "description":"This message will explain why the POST data was not accepted."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Public Profile [/users/{handle}]
### Public Profile [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle

+ Response 200 (application/json)

        {
             "handle": "hohosky",
             "country": "China",
             "memberSince": "09.28.2005 15:47 EDT",
             "overallEarning": 0,
             "quote": "Focus is a matter of deciding what things you're not going to do.",
             "ratingsSummary": [
                  {
                   "name": "Development",
                   "rating": 1906,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Design",
                   "rating": 1516,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Specification",
                   "rating": 1747,
                   "colorStyle": "color: #DDCC00"
                  }
             ],
             "photoLink": "/i/m/hohosky_big.jpg",
             "isCopilot": {
                  "value": true,
                  "software": false,
                  "studio": false
             },
             "isPM": false,
            "Achievements":
            [
                {
                  "date": "03.17.2013 00:00 EDT",
                  "description": "First Forum Post"
                 },
                 {
                  "date": "02.19.2013 00:00 EST",
                  "description": "One Hundred Forum Posts"
                 },
                 {
                  "date": "10.03.2012 00:00 EDT",
                  "description": "First Passing Submission"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Successful Challenge"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Rated Algorithm Competitions"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Successful Challenges"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "SRM Winner Div 2"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div1 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Rated Algorithm Competition"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div2 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First SRM Room Win (Any Division)"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Ten Solved Algorithm Problems"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Solved Algorithm Problem"
                 },
                 {
                  "date": "09.17.2012 00:00 EDT",
                  "description": "Five Hundred Forum Posts"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Win"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Placement"
                 },
                 {
                  "date": "08.20.2012 00:00 EDT",
                  "description": "TopCoder Reviewer"
                 },
                 {
                  "date": "04.10.2012 00:00 EDT",
                  "description": "2012 TopCoder Open Mod Dash Champion"
                 },
                 {
                  "date": "04.07.2012 00:00 EDT",
                  "description": "One Thousand Forum Posts"
                 },
                 {
                  "date": "09.28.2011 00:00 EDT",
                  "description": "2011 TopCoder Open Mod Dash Finalists"
                 },
                 {
                  "date": "10.14.2010 00:00 EDT",
                  "description": "2010 TopCoder Open Mod Dash Finalist"
                 },
                 {
                  "date": "10.21.2005 00:00 EDT",
                  "description": "Twenty Five Placements"
                 }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"User is not activated."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
            "details:":"User does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## My Profile [/user/profile]
### My Profile [GET]
+ Request

    + Headers

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTI4MTc4ODQsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzkyNzU3ODg0fQ.7X2IKkiyyI1ExSM5GNpdhJ8fGGK5-oAjzccX6YL_BKY

+ Response 200 (application/json)

        {
             "handle": "hohosky",
             "country": "China",
             "memberSince": "09.28.2005 15:47 EDT",
             "overallEarning": 0,
             "quote": "Focus is a matter of deciding what things you're not going to do.",
             "ratingsSummary": [
                  {
                   "name": "Development",
                   "rating": 1906,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Design",
                   "rating": 1516,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Specification",
                   "rating": 1747,
                   "colorStyle": "color: #DDCC00"
                  }
             ],
             "photoLink": "/i/m/hohosky_big.jpg",
             "isCopilot": {
                  "value": true,
                  "software": false,
                  "studio": false
             },
             "isPM": false,
            "Achievements":
            [
                {
                  "date": "03.17.2013 00:00 EDT",
                  "description": "First Forum Post"
                 },
                 {
                  "date": "02.19.2013 00:00 EST",
                  "description": "One Hundred Forum Posts"
                 },
                 {
                  "date": "10.03.2012 00:00 EDT",
                  "description": "First Passing Submission"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Successful Challenge"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Rated Algorithm Competitions"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Successful Challenges"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "SRM Winner Div 2"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div1 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Rated Algorithm Competition"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div2 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First SRM Room Win (Any Division)"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Ten Solved Algorithm Problems"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Solved Algorithm Problem"
                 },
                 {
                  "date": "09.17.2012 00:00 EDT",
                  "description": "Five Hundred Forum Posts"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Win"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Placement"
                 },
                 {
                  "date": "08.20.2012 00:00 EDT",
                  "description": "TopCoder Reviewer"
                 },
                 {
                  "date": "04.10.2012 00:00 EDT",
                  "description": "2012 TopCoder Open Mod Dash Champion"
                 },
                 {
                  "date": "04.07.2012 00:00 EDT",
                  "description": "One Thousand Forum Posts"
                 },
                 {
                  "date": "09.28.2011 00:00 EDT",
                  "description": "2011 TopCoder Open Mod Dash Finalists"
                 },
                 {
                  "date": "10.14.2010 00:00 EDT",
                  "description": "2010 TopCoder Open Mod Dash Finalist"
                 },
                 {
                  "date": "10.21.2005 00:00 EDT",
                  "description": "Twenty Five Placements"
                 }
            ],
            "emails": [
            {
                "email": "foo@fooonyou.com",
                "type": "Primary",
                "status": "Active"
            }
            ],
            "name": "firstdok lastdok",
            "address": "address1, city, Maine, 04043, United States",
            "age": "25 - 34",
            "gender": "Male",
            "shirt_size": "Medium",
            "privacy": {
                "showMySchool": "Yes",
                "showMyEarnings": "No",
                "receiveMessages": "Yes",
                "messageBlackList": ["handleA", "handleB"]
             },
             "emailNotification": {
                "competitionAnnouncements": {
                    "algorithmCompetitions": "No",
                    "softwareDevelopmentOpportunities": "Yes",
                    "topCoderStudioCompetitions": "No"
                },
                "others": {
                    "employmentOpportunities": "Yes",
                    "topCoderNewsAndEvents": "Yes",
                    "topCoderDesignStudioNewsletter": "No"
                }
             },
             "demographic": {
                "nonEnglishName": "name1",
                "jobTitle": "Lorem ipsum",
                "company": "company1",
                "country": "Indonesia",
                "representedCountry": "Indonesia",
                "phone": "555555",
                "timeZone": "US/Central",
                "age": "18 - 25",
                "gender": "Male",
                "ethnicBackground": "Asian or Pacific Islander",
                "primaryInterest": "Creative Competition",
                "shirtSize": "Small",
                "collegeMajor": "Computer Science",
                "collegeMajorDescription": "Software Design",
                "degreeProgram": "Bachelors",
                "graduationDate": "21/02/2011",
                "clubsOrOrganizations": "None",
                "school": "Harvard University",
                "gpa": 3.5,
                "gpaScale": 5,
                "isStudent": "Yes",
                "isProfessional": "No"
             }
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"User is not activated."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"Authentication credential was missing."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Validate Handle [/users/validate/{handle}]
### Validate Handle [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle

+ Response 200 (application/json)

        {
            "valid":true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The handle you entered is not valid"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Validate Social [/users/validateSocial?socialProviderId={socialProviderId}&socialUserId={socialUserId}]
### Validate Handle [GET]

+ Parameters
    + socialProviderId (required, string, `1`) ... social provider id
    + socialUserId (required, string, `fb124764`) ... social user id

+ Response 200 (application/json)

        {
            "available":true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description": "The request was invalid. An accompanying message will explain why."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Generate Reset Token  [/users/resetToken/?handle={handle}&email={email}]
### Generate Reset Token [GET]
- return "successful" flag set to true
- return social provider name for social login user

+ Parameters
    + handle (optional, string, `iRabbit`) ... Member Handle or Social Login Username
    + email (optional, string, `test@test.com`) ... Member Email (mutually exclusive with handle parameter)

+ Response 200 (application/json)

        {
            "successful":"true"
        }

+ Response 200 (application/json)

        {
            "socialProvider":"Google"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Either handle or email must be specified"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Both handle and email are specified"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"You have already requested the reset token, please find it in your email inbox. If it's not there. Please contact support@topcoder.com."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"User does not exist"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Reset Password [/users/resetPassword/{handle}]
### Reset Password [POST]
+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle
    + token (required, string, `snABCD`) ... The reset password token
    + password (required, string, `cnDEFG`) ... The new password

+ Response 200 (application/json)

        {
             "description": "Your password has been reset!"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Update Password [/users/updatePassword]
### Update Password [POST]

+ Parameters
    + oldPassword (required, string, `snABCD`) ... The old password
    + newPassword (required, string, `cnDEFG`) ... The new password

+ Response 200 (application/json)

        {
             "description": "Your password has been reset!"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Activate User [/users/activate?code={code}]
### Activate User [GET]
+ Parameters
    + code (required, string, `BHWXAG3R`) ... The activation code

+ Response 200 (application/json)

        {
             "success": true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Empty activation code"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Invalid activation code"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"User has been activated"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Email has been activated"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Upload Member Photo [/users/photo]
### Upload Member Photo [POST]

Request

+ Headers
    Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTM3MDM1NzEsImF1ZCI6

+ Parameters
    + photo (required, file) ... The photo file.

+ Response 200 (application/json)

        {
             "message":"Success"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo has to be in following format: jpeg,png,bmp,jpg."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo has to be a file."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo should be less than 1Mb."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authorization information needed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

#Group Software Challenges

## Review Opportunities [/develop/reviewOpportunities/?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}]
### Get Review Opportunities [GET]

+ Parameters
    + filter (optional, string, `type`) ... You can set multi key=value pair parameters to set the filter parameters. The filter parameter can only be following key: reviewType, challengeName, challengeType, reviewStartDate.type, reviewStartDate.firstDate, reviewStartDate.secondDate, reviewEndDate.type, reviewEndDate.firstDate, reviewEndDate.secondDate, reviewPaymentLowerBound, reviewPaymentUpperBound. For the reviewStartDate and reviewEndDate's type, it can only be(case sensitive) BEFORE, AFTER, ON, BETWEEN_DATES, BEFORE_CURRENT_DATE, AFTER_CURRENT_DATE. When the type is BETWEEN_DATES, the secondDate should be provided. The date value should follow this pattern YYYY-MM-DD.
    + value (optional, string, `Development`) ... Value of the filter key-value pair
    + pageIndex (optional, number, `1`) ... The page index of the returned resources. 1-based. It can be null. The default value will be 1
    + pageSize (optional, number, `50`) ... The page size of the returned resources. 1-based. It can be null. The default value will be 10.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.

+ Response 200 (application/json)

        {
            "total": 21,
            "pageIndex": 1,
            "pageSize": 4,
            "data": [
                {
                    "primaryReviewerPayment": 18.00,
                    "secondaryReviewerPayment": 0,
                    "numberOfSubmissions": 1,
                    "reviewStart": "10.29.2013 21:13 EDT",
                    "reviewEnd": "10.31.2013 21:13 EDT",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "First 2 Finish",
                    "reviewType": "Iterative Review",
                    "challengeName": "Simple UI Fixes - Ganttview JS App",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039333",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7064"
                },
                {
                    "primaryReviewerPayment": 346.00,
                    "secondaryReviewerPayment": 252.00,
                    "numberOfSubmissions": 3,
                    "reviewStart": "01.29.2014 16:05 EST",
                    "reviewEnd": "01.31.2014 16:05 EST",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "Assembly Competition",
                    "reviewType": "Contest Review",
                    "challengeName": "Module Assembly - TopCoder NodeJS Open Bugs API",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039321",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7048"
                },
                {
                    "primaryReviewerPayment": 50.00,
                    "secondaryReviewerPayment": 0,
                    "numberOfSubmissions": 0,
                    "reviewStart": "01.24.2014 16:05 EST",
                    "reviewEnd": "01.24.2014 20:05 EST",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "Assembly Competition",
                    "reviewType": "Spec Review",
                    "challengeName": "Module Assembly - TopCoder NodeJS Open Bugs API",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039321",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7048"
                },
                {
                    "primaryReviewerPayment": 0,
                    "secondaryReviewerPayment": 180.00,
                    "numberOfSubmissions": 1,
                    "reviewStart": "01.27.2014 21:10 EST",
                    "reviewEnd": "01.30.2014 21:10 EST",
                    "numberOfReviewPositionsAvailable": 3,
                    "challengeType": "Code",
                    "reviewType": "Contest Review",
                    "challengeName": "Build a DocuSign iOS Application using REST API",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039092",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=6967"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 406 (application/json)

        {
            "name":"Not Acceptable",
            "value":"406",
            "description":"This message will explain why the Search parameters are invalid."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Get Review Opportunity Detail [/develop/reviewOpportunities/{challengeId}]
### Get Review Opportunity Information [GET]

+ Request

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTQwODA3MTEsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzk0MDIwNzExfQ.xaaaElykyAq3woRRkcFQSUK0gvKnRCOhCD57x070GJ4

+ Parameters

    + challengeId (required, number, `30000000`) ... The challenge id.

+ Response 200 (application/json)

        {
            "challengeName": "PDS - Import and Persistence Update - Assembly Contest",
            "challengeType": "Assembly Competition",
            "challengeId": 30005520,
            "phases":
            [
                {
                    "type": "Submission",
                    "status": "Scheduled",
                    "scheduledStartTime": "2013-10-25T23:02:00.000Z",
                    "actualStartTime": null,
                    "scheduledEndTime": "2013-10-29T23:02:00.000Z",
                    "actualEndTime": null
                },
                {
                    "type": "Screening",
                    "status": "Scheduled",
                    "scheduledStartTime": "2013-10-29T23:02:00.000Z",
                    "actualStartTime": null,
                    "scheduledEndTime": "2013-10-30T23:02:00.000Z",
                    "actualEndTime": null
                }
            ],
            "positions":
            [
                {
                    "role": "Primary Reviewer",
                    "numPositions": 1,
                    "payment": 500
                },
                {
                    "role": "Secondary Reviewer",
                    "numPositions": 2,
                    "payment": 400
                }
            ],
            "applications":
            [
                {
                    "handle": "iRabbit",
                    "role": "Primary Reviewer",
                    "reviewerRating": 100.01,
                    "status": "Pending",
                    "applicationDate": "2013-10-25T23:02:00.000Z"
                },
                {
                    "handle": "iRabbit",
                    "role": "Secondary Reviewer",
                    "reviewerRating": 100.05,
                    "status": "Pending",
                    "applicationDate": "2013-10-25T23:02:00.000Z"
                }
            ]
        }


+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Apply Develop Review Opportunity Detail [/develop/reviewOpportunities/{challengeId}/apply]
### Apply Develop Review Opportunity Information [POST]

+ Request

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTQwODA3MTEsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzk0MDIwNzExfQ.xaaaElykyAq3woRRkcFQSUK0gvKnRCOhCD57x070GJ4

+ Parameters

    + challengeId (required, number, `30000000`) ... The challenge id.
    + reviewApplicationRoleId (optional, number, `1`) ... The review application role id to apply.

+ Response 200 (application/json)

        {
            "message": "Your review application for this contest has been cancelled."
        }

+ Response 200 (application/json)

        {
            "message": "You have successfully applied to review this contest. The system will automatically select reviewers that best match the review positions for this contest on 03.26.2014 08:00. You will be notified by email what review role you were assigned to."
        }

+ Response 200 (application/json)

        {
            "message": "You have successfully applied to review this contest. The system will automatically decide whether you match the reviewer requirements for this contest now. You will be notified by email shortly."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"challengeId should be number."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"challengeId should be positive."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"challengeId should be Integer."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"challengeId should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"reviewApplicationRoleId should be an element of 1,2,3,4,5,6,7,8,9."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The challenge is not existed or don't have any review opportunities or review registration is not open."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"You can't apply the review application role that do not belong to this challenge."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"You are not a Review Board member."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"You are already assigned as reviewer for the contest."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"There are no open positions for this challenge."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"There is no open positions for selected review application role: Primary Reviewer."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"You should agree with all terms of use."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Anonymous user don't have permission to access this api."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The user is not allowed to register this challenge review."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Challenge Reviewers Collection [/develop/reviewers/{contestType}]
### List reviewers of current challenge type [GET]

+ Parameters
    + contestType (required, string, `Assembly`) ... The type of the challenge. It can be 'Assembly', 'ComponentDevelopment', 'TestSuites', 'Reporting', 'ComponentDesign', 'Conceptualization', 'Specification', 'Architecture', 'UIPrototype', 'RIABuild', 'ContentCreation', 'TestScenarios', 'BugHunt'.

+ Response 200 (application/json)

        {
            "total": 4,
            "data": [
                {
                    "id": "23040226",
                    "handle": "AE-86",
                    "rating": "1212",
                    "photo": "1.gif"
                },
                {
                    "id": "23040228",
                    "handle": "AE-88",
                    "rating": "1920",
                    "photo": "2.gif"
                },
                {
                    "id": "23040258",
                    "handle": "AE-90",
                    "rating": "1386",
                    "photo": "3.gif"
                },
                {
                    "id": "13040058",
                    "handle": "XYZ",
                    "rating": "1776",
                    "photo": "4.gif"
                }
            ]
        }


+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Software Member Statistics [/users/{handle}/statistics/develop?track={track}]
### Software Member Statistics [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle
    + track (optional, string, `development`) ... The track name

+ Response 200 (application/json)

        {
            "handle": "iRabbit",
            "Tracks":
            {
                "Development":
                [
                    "rating": 1659,
                    "percentile": 50%,
                    "rank": 9999,
                    "countryRank": 9999,
                    "schoolRank": 9999,
                    "volatility": 280,
                    "competitions": 37,
                    "maximumRating": 1693,
                    "minimumRating": 1035,
                    "reviewerRating": 1035,
                    "inquiries": 37,
                    "submissions": 36,
                    "submissionRate": "97.30%",
                    "passedScreening": 36,
                    "screeningSuccessRate": "100.00%",
                    "passedReview": 36,
                    "reviewSuccessRate": "100.00%",
                    "appeals": 279,
                    "appealSuccessRate": "33.33%",
                    "maximumScore": 100.00,
                    "minimumScore": 86.04,
                    "averageScore": 95.64,
                    "averagePlacement": 3.19,
                    "wins": 21,
                    "winPercentage": "58.33%"
                ],
                "Assembly":
                [
                    "rating": 1659,
                    "percentile": 50%,
                    "rank": 9999,
                    "countryRank": 9999,
                    "schoolRank": 9999,
                    "volatility": 280,
                    "competitions": 37,
                    "maximumRating": 1693,
                    "minimumRating": 1035,
                    "reviewerRating": 1035,
                    "inquiries": 37,
                    "submissions": 36,
                    "submissionRate": "97.30%",
                    "passedScreening": 36,
                    "screeningSuccessRate": "100.00%",
                    "passedReview": 36,
                    "reviewSuccessRate": "100.00%",
                    "appeals": 279,
                    "appealSuccessRate": "33.33%",
                    "maximumScore": 100.00,
                    "minimumScore": 86.04,
                    "averageScore": 95.64,
                    "averagePlacement": 3.19,
                    "wins": 21,
                    "winPercentage": "58.33%"
                ]
            }
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Software Member Rating History and Distribution [/develop/statistics/{handle}/{challengeType}]
### Software Member Rating History and Distribution [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle
    + challengeType (required, String, `Development`) ... Challenge Type

+ Response 200 (application/json)

        {
            "history":
            [
                {
                    challengeId : 12345,
                    challengeName : 'awesome component',
                    date: "2012.9.10",
                    rating: 1000
                },
                {
                    challengeId : 12346,
                    challengeName : 'awesome component',
                    date: "2012.10.10",
                    rating: 1100
                }
            ],
            "distribution":
            [
                {
                    range: "2000-2100",
                    number: 10
                },
                {
                    range: "2100-2200",
                    number: 5
                }
            ]

        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Challenge Types Collection [/develop/challengetypes]
### List all challenge types [GET]
+ Response 200 (application/json)

        [
            {
                "contestCategoryId": 2,
                "contestTypeId": 1,
                "name": "Development",
                "description": "Development"
            },
            {
                "contestCategoryId": 1,
                "contestTypeId": 1,
                "name": "Design",
                "description": "Design"
            }
        ]

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

        
## Search Software Challenges [/develop/challenges?listType={listType}&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}]
### Search Software Challenges [GET]

+ Parameters
    + listType (optional, string, `Open`) ... The type of challenges to search. It can only be 'ACTIVE', 'OPEN', 'PAST' or 'UPCOMING'. If it's null, 'Open' will be should used.
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    + communityId (optional, number, `1`) ... The community id.
    + submissionEndFrom (optional, string, `2014-03-01`) ... submission end date from value.
    + submissionEndTo (optional, string, `2014-03-15`) ... submission end date to value.

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "challengeType": "Web Design",
                    "challengeName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "challengeId": 30036096,
                    "projectId": 6789,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "appealsEndDate": "10.31.2013 10:10 EDT",
                    "finalFixEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "prize": [1250, 500],
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "topCheckPointPrize": 200,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "UI Prototype Competition",
                    "challengeName": "Corningstone App UI Prototype 2",
                    "challengeId": 30036099,
                    "projectId": 6484,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "appealsEndDate": "10.31.2013 10:10 EDT",
                    "finalFixEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "prize": [1250, 500],
                    "reliabilityBonus": 660,
                    "digitalRunPoints": 990,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "topCheckPointPrize": 200,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "Content Creation",
                    "challengeName": "Crowdsourced Application Security Standards and Review",
                    "challengeId": 30036091,
                    "projectId": 6778,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "appealsEndDate": "10.31.2013 10:10 EDT",
                    "finalFixEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "prize": [1250, 500],
                    "reliabilityBonus": 360,
                    "digitalRunPoints": 0,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "topCheckPointPrize": 200,
                    "postingDate": "10.31.2013 10:10 EDT"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 406 (application/json)

        {
            "name":"Not Acceptable",
            "value":"406",
            "description":"This message will explain why the Search parameters are invalid."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Search Active Software Challenges [/develop/challenges/active?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}]
### Search Active Software Challenges [GET]

+ Parameters
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    + communityId (optional, number, `1`) ... The community id.
    + submissionEndFrom (optional, string, `2014-03-01`) ... submission end date from value.
    + submissionEndTo (optional, string, `2014-03-15`) ... submission end date to value.

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "challengeType": "Web Design",
                    "challengeName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "challengeId": 30036096,
                    "projectId": 6789,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "UI Prototype Competition",
                    "challengeName": "Corningstone App UI Prototype 2",
                    "challengeId": 30036099,
                    "projectId": 6484,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 660,
                    "digitalRunPoints": 990,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "Content Creation",
                    "challengeName": "Crowdsourced Application Security Standards and Review",
                    "challengeId": 30036091,
                    "projectId": 6778,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 360,
                    "digitalRunPoints": 0,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 406 (application/json)

        {
            "name":"Not Acceptable",
            "value":"406",
            "description":"This message will explain why the Search parameters are invalid."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Search Open Software Challenges [/develop/challenges/open?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}]
### Search Open Software Challenges [GET]

+ Parameters
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    + communityId (optional, number, `1`) ... The community id.
    + submissionEndFrom (optional, string, `2014-03-01`) ... submission end date from value.
    + submissionEndTo (optional, string, `2014-03-15`) ... submission end date to value.

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "challengeType": "Web Design",
                    "challengeName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "challengeId": 30036096,
                    "projectId": 6789,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "UI Prototype Competition",
                    "challengeName": "Corningstone App UI Prototype 2",
                    "challengeId": 30036099,
                    "projectId": 6484,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 660,
                    "digitalRunPoints": 990,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "Content Creation",
                    "challengeName": "Crowdsourced Application Security Standards and Review",
                    "challengeId": 30036091,
                    "projectId": 6778,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 360,
                    "digitalRunPoints": 0,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 406 (application/json)

        {
            "name":"Not Acceptable",
            "value":"406",
            "description":"This message will explain why the Search parameters are invalid."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Search Past Software Challenges [/develop/challenges/past?pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&communityId={communityId}&submissionEndFrom={submissionEndFrom}&submissionEndTo={submissionEndTo}]
### Search Past Software Challenges [GET]

+ Parameters
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    + communityId (optional, number, `1`) ... The community id.
    + submissionEndFrom (optional, string, `2014-03-01`) ... submission end date from value.
    + submissionEndTo (optional, string, `2014-03-15`) ... submission end date to value.

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "challengeType": "Web Design",
                    "challengeName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "challengeId": 30036096,
                    "projectId": 6789,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "screeningScorecardId": 1001,
                    "reviewScorecardId": 1001,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT"
                },
                {
                    "challengeType": "UI Prototype Competition",
                    "challengeName": "Corningstone App UI Prototype 2",
                    "challengeId": 30036099,
                    "projectId": 6484,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
[...]
