FORMAT: 1A
HOST: http://api.topcoder.com/v2

# TopCoder API
Programmatically access TopCoder contests and members.


# Group Software Contests
Calls for viewing and managing software contests.

## Contest Types Collection [/software/contesttypes]
### List all contest types [GET]
+ Response 200 (application/json)

        [
            {
                "contestCategoryId": 2,
                "contestTypeId": 1,
                "name": "Development",
                "description": "Development"
            },
            {
                "contestCategoryId": 1,
                "contestTypeId": 1,
                "name": "Design",
                "description": "Design"
            }
        ]

## Search Contests [/software/contests?listType={listType}&pageIndex={pageIndex}&pageSize={pageSize}&sortColumn={sortColumn}&sortOrder={sortOrder}&filter={filter}&value={value}]
### Search Contests [GET]

+ Parameters
    + listType (optional, string, `Active`) ... The type of contests to search. It can only be 'ALL', 'ACTIVE', 'OPEN', 'PAST' or 'UPCOMING'. If it's null, 'ALL' will be should used.
    + filter (optional, string, `type`) ... Key of the filter key-value pair
    + value (optional, string, `Development`) ... Value of the filter key-value pair
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `contestName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "type": "Web Design",
                    "contestName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "description": "Welcome to ¡°Cornell ¨C Responsive Storyboard Economics Site Redesign contest¡±. The goal of this contest  is to redesign look and feel for one of our college site departments (economics) using base design and customer feedback provided in this contest. There are two pages that needs to be redesigned a",
                    "numberOfSubmissions": 16,
                    "numberOfRatedRegistrants": 27,
                    "numberOfUnratedRegistrants": 27,
                    "contestId": 30036096,
                    "projectId": 6789,
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "prize": [1250, 500],
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500
                },
                {
                    "type": "UI Prototype Competition",
                    "catalog": "UI Development",
                    "contestName": "Corningstone App UI Prototype 2",
                    "description": "http://apps.topcoder.com/wiki/display/docs/Corningstone+App+UI+Prototype+2\n\n",
                    "numberOfSubmissions": 0,
                    "numberOfRatedRegistrants": 27,
                    "numberOfUnratedRegistrants": 27,
                    "contestId": 30036099,
                    "projectId": 6484,
                    "registrationEndDate": "10.26.2013 16:01 EDT",
                    "submissionEndDate": "10.31.2013 16:06 EDT",
                    "prize": [1250, 500],
                    "reliabilityBonus": 660,
                    "digitalRunPoints": 990
                },
                {
                    "type": "Content Creation",
                    "catalog": "UI Development",
                    "contestName": "Crowdsourced Application Security Standards and Review",
                    "description": "Project Overview:\n\n\nWe would like TopCoders help in designing a security standards document that will be included with every TC project to help define a uniform approach to secure code development across this diverse community of contributors. Also we are hoping to have TopCoder design the review an",
                    "numberOfSubmissions": 4,
                    "numberOfRatedRegistrants": 27,
                    "numberOfUnratedRegistrants": 27,
                    "contestId": 30036091,
                    "projectId": 6778,
                    "registrationEndDate": "10.28.2013 10:28 EDT",
                    "submissionEndDate": "10.31.2013 10:34 EDT",
                    "prize": [1250, 500],
                    "reliabilityBonus": 360,
                    "digitalRunPoints": 0
                }
            ]
        }

+ Response 400 (application/json)

        {"description":"Invalid Page Index.","name":"Bad Request","value":"400"}

## Get Contest Detail [/software/contests/{id}]
### Get Contest Information [GET]

+ Parameters
    + id (required, number, `30000000`) ... The contest id.

+ Response 200 (application/json)
        
        {
            "type": "Web Design",
            "contestName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
            "description": "Welcome to ¡°Cornell ¨C Responsive Storyboard Economics Site Redesign contest¡±. The goal of this contest  is to redesign look and feel for one of our college site departments (economics) using base design and customer feedback provided in this contest. There are two pages that needs to be redesigned a",
            "numberOfSubmissions": 16,
            "numberOfRegistrants": 27,
            "numberOfPassedScreeningSubmissions": 27,
            "contestId": 30036096,
            "projectId": 6789,
            "registrationEndDate": "10.31.2013 10:10 EDT",
            "submissionEndDate": "10.31.2013 10:09 EDT",
            "prize":[1000, 250],
            "milestone":
                [
                    "prize": 100,
                    "number": 5
                ],
            "reliabilityBonus": 0,
            "digitalRunPoints": 500
            "registrants" : 
                [ 
                    {
                        "handle": "iRabbit", 
                        "reliability": "100%", 
                        "registrationDate": "10.31.2013 10:10 EDT"
                    },
                    {
                        "handle": "hohosky", 
                        "reliability": "100%", 
                        "registrationDate": "10.31.2013 10:10 EDT"
                    }
                ]
            "submissions" : 
                [ 
                    {
                        "handle": "iRabbit", 
                        "placement": 1,
                        "screeningScore": 97,
                        "initialScore": 97,
                        "final": 97,
                        "points": 100,
                        "submissionDate": "10.31.2013 10:10 EDT"
                    },
                    {
                        "handle": "hohosky", 
                        "placement": 2,
                        "screeningScore": 97,
                        "initialScore": 96,
                        "final": 96,
                        "points": 50,
                        "submissionDate": "10.31.2013 10:10 EDT"
                    }
                ]
        }

+ Response 404 (application/json)

        {"description":"unknown contest.","name":"Not Found","value":"404"}

# Group Registration
Register a new user.

## Users [/users]
+ Model (application/json)

        {
            "firstname" : "John",
            "lastname" : "Doe",
            "handle" : "uniqueLogin",
            "country" : "UK",
            "email" : "name@domain.com",
            "password" : "HashedPassword",
            "socialProvider" : "google",
            "socialUserName" : "JohnsGoogleName",
            "socialEmail" : "john@gmail.com",
            "socialEmailVerified" : "true"
        }

### Create a new user [POST]
+ Request (application/json)

    [Users][]

+ Response 200 (application/json)

        {
            "status" : "user successfully created"
        }
