FORMAT: 1A
HOST: http://api.topcoder.com/v2

# TopCoder API
Programmatically access TopCoder challenges and members.

# Group Authorization
Authorization APIs

## Create JWT Token [/auth]
### Create JWT Token [POST]
+ Attributes
    + username: `heffan` (required, string) ... The username
    + password: `password` (required, string) ... The password

+ Request Create JWT Token (application/json)

+ Response 200 (application/json)

        {
             "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3NtYS5hdXRoMC5jb20vIiwic3ViIjoiYWR8"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Refresh JWT Token [/reauth]
### Refresh JWT Token [POST]
+ Attributes
    + token: `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3NtYS5hdXRoMC5jb20vIiwic3ViIjoiYWR8` (required, string) ... The old JWT token

+ Request Refresh JWT Token (application/json)

+ Response 200 (application/json)

        {
             "token": "DyJCdeAiOiH7V1QiLCJhbGciOiJI5zI1NiJ9.eyJpc3MiOiJodHRrezovL3NtYS5uyXRoMC5jb20vIiwic3ViIoo4XSO2"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Validate SSO Cookie [/validation/sso]
### Validate SSO Cookie [GET]

+ Request

    + Headers

            Cookie: tcsso=132456|4a6acc4d5327773989a7e8c23b04e8cd1c3da79a1256590973ed731ffa0f24a2

+ Response 200 (application/json)

        {
             "userId": 132456
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

# Group Reports
Report APIs

## Challenge Costs [/reports/costs/{startDate}/{endDate}{?clientId}{?billingId}{?projectId}{?challengeId}]
### Challenge Costs [GET]

+ Parameters
    + startDate (required, string, `2013-07-01`) ... Start Date
    + endDate (required, string, `2013-12-01`) ... End Date
    + clientId (optional, number, `4310`) ... Client Id
    + billingId (optional, number, `2310`) ... Billing Id
    + projectId (optional, number, `6707`) ... Project Id
    + challengeId (optional, number, `30000001`) ... Challenge Id

+ Response 200 (application/json)

        {
             "history":
             [
                {
                    "paymentDate": "2013-09-12",
                    "clientName": "Topcoder",
                    "clientId": 1,
                    "billingName": "Topcoder2013",
                    "projectName": "CS-TC API",
                    "challengeName": "challenge 1",
                    "challengeId": 30030010,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "launchDate": "2013-08-10",
                    "completionDate": "2013-08-25",
                    "paymentType": "contest fee",
                    "amount": 5000.0
                },
                {
                    "paymentDate": "2013-09-15",
                    "clientName": "Topcoder",
                    "clientId": 1,
                    "billingName": "Topcoder2013",
                    "projectName": "CS-TC API",
                    "challengeName": "challenge 2",
                    "challengeId": 30030012,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "launchDate": "2013-08-12",
                    "completionDate": "2013-08-27",
                    "paymentType": "contest fee",
                    "amount": 5000.0
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Client Challenge Costs [/reports/client/costs/{?startDate}{?endDate}{?clientId}{?sfdcAccountId}{?customerNumber}]
### Client Challenge Costs [GET]

+ Parameters
    + startDate (required, string, `2013-07-01`) ... Start Date
    + endDate (required, string, `2013-12-01`) ... End Date
    + clientId (optional, number, `4310`) ... Client Id
    + sfdcAccountId (optional, string, `4310`) ... SFDC Account Id
    + customerNumber (optional, string, `4310`) ... Customer Number

+ Response 200 (application/json)

        {
             "history":
             [
                {
                    "customerName": "Topcoder",
                    "customerId": 1,
                    "projectName": "CS-TC API",
                    "projectId": 1234,
                    "challengeName": "challenge 1",
                    "challengeId": 30030010,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "postingDate": "2013-08-10",
                    "completionDate": "2013-08-25",
                    "challengeFulfillment": 75,
                    "challengeMemberCost": 5000.0,
                    "challengeFee": 2500.0,
                    "challengeTotalCost": 7500.0,
                    "challengeDuration": 13.47
                },
                {
                    "customerName": "Topcoder2",
                    "customerId": 2,
                    "projectName": "NodeJS API",
                    "projectId": 1235,
                    "challengeName": "challenge 2",
                    "challengeId": 30030011,
                    "challengeType": "development",
                    "challengeStatus": "completed",
                    "postingDate": "2013-08-11",
                    "completionDate": "2013-08-26",
                    "challengeFulfillment": 80,
                    "challengeMemberCost": 5000.0,
                    "challengeFee": 2500.0,
                    "challengeTotalCost": 7500.0,
                    "challengeDuration": 13.78
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Client Active Challenge Costs [/reports/client/activeCosts/{?clientId}{?sfdcAccountId}{?customerNumber}]
### Client Active Challenge Costs [GET]

+ Parameters
    + clientId (optional, number, `4310`) ... Client Id
    + sfdcAccountId (optional, string, `4310`) ... CMC account ID
    + customerNumber (optional, string, `4310`) ... Customer number

+ Response 200 (application/json)

        {
            "active": [
                {
                    "customerName": "Client 9000001",
                    "customerNumber": "900000100",
                    "customerId": 9000001,
                    "billingAccountId": 9000001,
                    "billingAccountName": "Client 9000001 Billing Account 1",
                    "projectName": "Client 9000001 Billing Account 1 Project 2",
                    "challengeName": "Logo Design Contest 2",
                    "challengeId": 9000002,
                    "challengeType": "Logo Design",
                    "challengeStatus": "Active",
                    "postingDate": "2014-03-27",
                    "completionDate": "2014-03-29",
                    "challengeMemberCost": 0,
                    "challengeFee": 375,
                    "challengeTotalCost": 375,
                    "challengeDuration": 1.8,
                    "lastModificationDate": "2014-03-29",
                    "registrationEndDate": "2014-03-29",
                    "submissionEndDate": "2014-04-03",
                    "checkpointEndDate": "2014-03-30",
                    "currentPhase": "Checkpoint Screening",
                    "firstPrize": 1700,
                    "totalPrize": 1870,
                    "checkpointPrize": 170,
                    "registrantsCount": 2,
                    "submissionsCount": 0,
                    "checkpointSubmissionsCount": 2,
                    "challengeScheduledEndDate": "2014-04-08",
                    "reliability": 4
                },
                {
                    "customerName": "Client 9000001",
                    "customerNumber": "900000100",
                    "customerId": 9000001,
                    "billingAccountId": 9000002,
                    "billingAccountName": "Client 9000001 Billing Account 2",
                    "projectName": "Client 9000001 Billing Account 2 Project 1",
                    "challengeName": "Conceptualization Contest 3",
                    "challengeId": 9000003,
                    "challengeType": "Conceptualization",
                    "challengeStatus": "Active",
                    "postingDate": "2014-03-25",
                    "completionDate": "2014-03-29",
                    "challengeMemberCost": 0,
                    "challengeFee": 6001,
                    "challengeTotalCost": 6001,
                    "challengeDuration": 4.3,
                    "lastModificationDate": "2014-03-29",
                    "registrationEndDate": "2014-03-27",
                    "submissionEndDate": "2014-03-30",
                    "checkpointEndDate": "2014-03-28",
                    "currentPhase": "Submission",
                    "firstPrize": 1000,
                    "totalPrize": 1088,
                    "checkpointPrize": 88,
                    "registrantsCount": 3,
                    "submissionsCount": 0,
                    "checkpointSubmissionsCount": 3,
                    "challengeScheduledEndDate": "2014-04-10",
                    "reliability": 227
                }
            ]
        }
        
+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"Client not found"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Challenge Analyze [/reports/analyze{?projectId}{?openRegistrationDateFrom}{?openRegistrationDateTo}{?challengeType}{?challengeName}{?prizeLower}{?prizeUpper}]
### Challenge Analyze [GET]

+ Parameters
    + projectId (optional, string, `1245`) ... The project id.
    + openRegistrationDateFrom (optional, string, `2014-04-01`) ... The open registration date from.
    + openRegistrationDateTo (optional, string, `2014-04-05`) ... The open registration date to.
    + challengeType (optional, string, `Wireframes`) ... The challenge type.
    + challengeName (optional, string, `TC-API`) ... The challenge name.
    + prizeLower (optional, number, `500`) ... The prize lower bound
    + prizeUpper (optional, number, `1800`) ... The prize upper bound.

+ Response 200 (application/json)

        {
             "results":
             [
                {
                    "challengeName": "TC-API Analzye API",
                    "projectName": "TC-API",
                    "challengeType": "Assembly",
                    "client": "Topcoder",
                    "copilot": "iRabbit",
                    "csm": [
                        "nlouie"
                    ]
                    "architect": "none",
                    "pm": [
                        "nlouie",
                        "Shannon"
                    ]
                    "challengeStatus": "Active",
                    "currentPhase": "Registration",
                    "numberOfRegistrants": 15,
                    "numberOfUnregistered": 5,
                    "estimatedNumberOfSubmissions": 3,
                    "currentNumberOfSubmissions": 1,
                    "openRegistrationDate": "2014-04-01",
                    "forumPosts": "11/25",
                    "numberOfUnansweredThread": 3,
                    "1stPlacePrize": "1600/1400.0",
                    "2ndPlacePrize": "750/800.0",
                    "numberOfDaysLive": "13.5/0.5",
                    "rating": "3/5/10",
                    "numberOfRepost": 0
                }
             ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"openRegistrationDateFrom is not a valid date."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authorized information needed."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"You don't have access to this api."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Track Statistics [/reports/{track}{?startDate}{?endDate}]
### Track Statistics [GET]

+ Parameters
    + track (required, string, `design`) ... Track Name. Only allow "Design", "Develop" and "Data"
    + startDate (optional, string, `2013-01-01`) ... timespan start date
    + endDate (optional, string, `2014-01-01`) ... timespan end date

+ Response 200 (application/json)

        {
            "numberOfRunningChallenges": 10,
            "totalPrizeOfRunningChallenges": 13500,
            "totalPrizeInGivenTime": 120000,
            "numberOfChallengesInGivenTime": 100,
            "numberOfRegisteredUsers": 90,
            "numberOfActiveUsers": 50
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"startDate is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"endDate is not a valid date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"startDate should be earlier than endDate or at same date."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"track should be an element of develop,design,data."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

# Group Platform
Platform APIs

## Activity Summary [/platform/activitySummary]
### Get Activity Summary [GET]

+ Response 200 (application/json)

        {
            "activeContestsCount": 50,
            "activeMembersCount": 500000,
            "activeProjectsCount": 30,
            "completedProjectsCount": 500,
            "prizePurse": "$100000"
        }

## Active Billing Accounts [/platform/activeBillingAccounts]
### Active Billing Accounts [GET]

+ Response 200 (application/json)

        {
            "activeBillingAccounts": [
                {
                    "clientName": "client1",
                    "clientCustomerNumber": "customer1",
                    "clientId": 70014096,
                    "billingAccountId": 70016343,
                    "billingAccountName": "Liquid",
                    "subscriptionNumber": "s",
                    "projectStartDate": "2009-01-01T00:00:00.000Z",
                    "projectEndDate": "2099-01-01T00:00:00.000Z",
                    "poNumber": "TC0000377"
                },
                {
                    "clientName": "client2",
                    "clientCustomerNumber": "customer2",
                    "clientId": 70014096,
                    "billingAccountId": 70016347,
                    "billingAccountName": "CIO projects",
                    "subscriptionNumber": "d",
                    "projectStartDate": "2009-01-01T00:00:00.000Z",
                    "projectEndDate": "2099-01-01T00:00:00.000Z",
                    "poNumber": "TC0000381"
                }
            ]
        }

## Customer [/platform/customer]
### Create Customer [POST]
+ Attributes
    + name: `custABCD` (required, string) ... The customer name
    + customerNumber: `custABCDNum` (required, string) ... The customer number

+ Request Create Customer (application/json)

+ Response 200 (application/json)

        {
             "clientId": "1000021"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }



## Billing [/platform/billing]
### Create Billing [POST]
+ Attributes
    + subscriptionNumber: `snABCD` (required, string) ... The subscription number of the project to create
    + customerNumber: `cnDEFG` (required, string) ... The customer number of the client with which to associate the project
    + startDate: `cnDEFG` (optional, string) ... The billing account start date
    + endDate: `cnDEFG` (optional, string) ... The billing account end date
    + billingAccountId: `1234` (optional, number) ... The billing account id
    + active: `1` (optional, number) ... billing account active status (1 - active, 0 - inactive)

+ Request Create Billing (application/json)

+ Response 200 (application/json)

        {
             "billingAccountId": "1000021"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Billing Account Permission [/platform/billings/{billingAccountId}/{users}]
### Update Billing Account Permission [POST]
+ Request (application/json)


    + Headers

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTI4MTc4ODQsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzkyNzU3ODg0fQ.7X2IKkiyyI1ExSM5GNpdhJ8fGGK5-oAjzccX6YL_BKY

+ Parameters
    + billingAccountId (required, number, `300001`) ... The billing account id that account to update
    + users (required, string, `heffan,shannon`) ... The users to attach to billing account

+ Response 200 (application/json)

        {
            "success": [
                "twight"
            ],
            "failed": [
                "noOne"
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"billingAccountId should be number."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"billingAccountId should be positive."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"billingAccountId should be Integer."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"billingAccountId should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The billingAccountId is not exist in Topcoder system."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"All these users are not in topcoder system."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"You need to login for this api."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"You don't have enough authority to access this api."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Leaderboard [/platform/leaderboard]
### Get Leaderboard [GET]
+ Attributes
    + type: `referral` (required, string) ... The leaderboard type
    + utmMedium: `Appirio` (optional, string) ... The referral type

+ Request Get Leaderboard (application/json)

+ Response 200 (application/json)

        {
            "entries": 9,
            "description": "The leaderbaord returns all  members that have referred at least one new member in the last 6 months.",
            "scoreType": "points",
            "scoreLabel": "referrals",
            "result": [
                {
                    "handle": "Referral9",
                    "score": 9,
                    "photo": "http://community.topcoder.com/i/m/Image9.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United States",
                    "ratingType": "Red"
                },
                {
                    "handle": "Referral8",
                    "score": 8,
                    "photo": "http://community.topcoder.com/i/m/Image8.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United Kingdom",
                    "ratingType": "Yellow"
                },
                {
                    "handle": "Referral6",
                    "score": 6,
                    "photo": "http://community.topcoder.com/i/m/Image6.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United States Minor Outlying Islands",
                    "ratingType": "Yellow"
                },
                {
                    "handle": "Referral2",
                    "score": 1,
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United Kingdom",
                    "ratingType": "Black"
                },
                {
                    "handle": "Referral7",
                    "score": 7,
                    "photo": "http://community.topcoder.com/i/m/Image7.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United States",
                    "ratingType": "Red"
                },
                {
                    "handle": "Referral10",
                    "score": 10,
                    "photo": "http://community.topcoder.com/i/m/Image10.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United Arab Emirates",
                    "ratingType": "Red"
                },
                {
                    "handle": "Referral5",
                    "score": 5,
                    "photo": "http://community.topcoder.com/i/m/Image5.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United States",
                    "ratingType": "Red"
                },
                {
                    "handle": "Referral4",
                    "score": 4,
                    "photo": "http://community.topcoder.com/i/m/Image4.jpg",
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United Arab Emirates",
                    "ratingType": "Yellow"
                },
                {
                    "handle": "Referral3",
                    "score": 2,
                    "memberSince": "2014-07-21T00:57:05.000+0200",
                    "country": "United States",
                    "ratingType": "Red"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "error": "Error: type is a required parameter for this action"
        }

+ Response 400 (application/json)

        {
            "error": {
                "name": "Bad Request",
                "value": 400,
                "description": "The request was invalid. An accompanying message will explain why.",
                "details": "type should be an element of referral."
            }
        }


+ Response 400 (application/json)

        {
            "error": {
                "name": "Bad Request",
                "value": 400,
                "description": "The request was invalid. An accompanying message will explain why.",
                "details": "utmMedium should be an element of __all__,appirio."
            }
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Get Challenge Registrants [/challenges/registrants/{challengeId}]
### Get Challenge Registrants [GET]

+ Parameters
    + challengeId (required, number, `30000000`) ... The challenge id.

+ Response 200 (application/json)

        {
          "registrants": [
            {
              "handle": "Luca",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T09:09:08.000Z"
            },
            {
              "handle": "freegod",
              "reliability": "40%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T09:27:46.000Z"
            },
            {
              "handle": "Ghost_141",
              "reliability": "53%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T09:31:53.000Z"
            },
            {
              "handle": "Gando19850304",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T09:56:15.000Z"
            },
            {
              "handle": "saarixx",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T10:19:36.000Z"
            },
            {
              "handle": "moulyg",
              "reliability": "30%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T10:21:05.000Z"
            },
            {
              "handle": "DanLazar",
              "reliability": "13%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T12:09:28.000Z"
            },
            {
              "handle": "Schpotsky",
              "reliability": "100%",
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T12:27:50.000Z"
            },
            {
              "handle": "Fantoccini",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T19:21:55.000Z"
            },
            {
              "handle": "Standlove",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T19:50:41.000Z"
            },
            {
              "handle": "brain_cn",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T21:41:37.000Z"
            },
            {
              "handle": "phead",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-02T21:44:32.000Z"
            },
            {
              "handle": "alfiya_Zi",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T00:49:54.000Z"
            },
            {
              "handle": "sunbinbrother",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T02:13:48.000Z"
            },
            {
              "handle": "muzehyun",
              "reliability": "0%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T03:15:31.000Z"
            },
            {
              "handle": "KeSyren",
              "reliability": "13%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T05:39:21.000Z"
            },
            {
              "handle": "Sky_",
              "reliability": "100%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T06:18:30.000Z"
            },
            {
              "handle": "woodjhon",
              "reliability": "6%",
              "rating": 1234,
              "colorStyle": "color: #DDCC00",
              "registrationDate": "2013-12-03T07:19:29.000Z"
            }
          ]
        }

+ Response 200 (application/json)

        {
            "registrants": [
            {
                "handle": "heffan",
                "reliability": "100%",
                "rating": 1800,
                "colorStyle": "color: #DDCC00"
            }
            ]
        }
+ Response 200 (application/json)

        {
            "registrants": [
                {
                    "handle": "heffan",
                    "reliability": "100%"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Get Challenge Submissions [/challenges/submissions/{challengeId}]
### Get Challenge Submissions [GET]

+ Parameters
    + challengeId (required, number, `30000000`) ... The challenge id.

+ Response 200 (application/json)

        {
          "submissions": [
            {
              "handle": "Sky_",
              "placement": 1,
              "submissionId": 190032,
              "screeningScore": 100,
              "initialScore": 98.98,
              "finalScore": 99.95,
              "points": 360,
              "submissionStatus": "Active",
              "submissionDate": "2013-12-06T08:12:59.000Z"
            },
            {
              "handle": "Sky_",
              "placement": "",
              "submissionId": 190038,
              "screeningScore": null,
              "initialScore": null,
              "finalScore": null,
              "points": 0,
              "submissionStatus": "Deleted",
              "submissionDate": "2013-12-05T12:22:07.000Z"
            }
          ]
        }

+ Response 200 (application/json)

        {
            "submissions": [
            {
                "handle": "heffan",
                "placement": 1,
                "screeningScore": 100,
                "initialScore": 80,
                "finalScore": 90,
                "points": 510,
                "submissionStatus": "Active"
            }
            ]
        }
+ Response 200 (application/json)

        {
            "submissions": [
                {
                    "handle": "heffan",
                    "placement": 1,
                    "screeningScore": 100,
                    "initialScore": 80,
                    "finalScore": 90,
                    "points": 510,
                    "submissionStatus": "Active"
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Get Challenge Phases [/challenges/phases/{challengeId}]
### Get Challenge Phases [GET]

+ Parameters
    + challengeId (required, number, `30000000`) ... The challenge id.

+ Response 200 (application/json)

        {
          "currentPhaseEndDate": "-000001-11-30T00:00:00.000Z",
          "currentStatus": "Completed",
          "currentPhaseName": "",
          "currentPhaseRemainingTime": 0,
          "phases": [
            {
                "type": "Registration",
                "status": "Open",
                "scheduledStartTime": "2013-12-05T12:22:07.000Z",
                "actualStartTime": "2013-12-05T12:22:07.000Z",
                "scheduledEndTime": "2013-12-05T12:22:07.000Z",
                "actualEndTime": null
            },
            {
                "type": "Submission",
                "status": "Scheduled",
                "scheduledStartTime": "2013-12-05T12:22:07.000Z",
                "actualStartTime": null,
                "scheduledEndTime": "2013-12-05T12:22:07.000Z",
                "actualEndTime": null
            }
           ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


# Group User Profile
Register a new user.

## Users [/users]
+ Model (application/json)

        {
            "firstname" : "John",
            "lastname" : "Doe",
            "handle" : "uniqueLogin",
            "country" : "UK",
            "email" : "name@domain.com",
            "password" : "HashedPassword",
            "regSource": "http://registration.source.domain.com",
            "utm_source": "a",
            "utm_medium": "b",
            "utm_campaign": "c"
        }

### Create a new user [POST]
+ Request

    [Users][]

+ Response 200 (application/json)

        {
            "name":"OK",
            "value":"200",
            "description":"This message will contain the new user id."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 422 (application/json)

        {
            "name":"Unprocessable Entity",
            "value":"422",
            "description":"This message will explain why the POST data was not accepted."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

+ Request (application/json)

        {
            "firstname" : "John",
            "lastname" : "Doe",
            "handle" : "uniqueLogin",
            "country" : "UK",
            "email" : "name@domain.com",
            "socialProvider" : "google",
            "socialUserId": "3003300",
            "socialUserName" : "JohnsGoogleName",
            "socialEmail" : "john@gmail.com",
            "socialEmailVerified" : "true",
            "regSource": "TC API"
        }

+ Response 200 (application/json)

        {
            "name":"OK",
            "value":"200",
            "description":"This message will contain the new user id."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 422 (application/json)

        {
            "name":"Unprocessable Entity",
            "value":"422",
            "description":"This message will explain why the POST data was not accepted."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Public Profile [/users/{handle}]
### Public Profile [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle

+ Response 200 (application/json)

        {
             "handle": "hohosky",
             "country": "China",
             "memberSince": "09.28.2005 15:47 EDT",
             "overallEarning": 0,
             "quote": "Focus is a matter of deciding what things you're not going to do.",
             "ratingsSummary": [
                  {
                   "name": "Development",
                   "rating": 1906,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Design",
                   "rating": 1516,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Specification",
                   "rating": 1747,
                   "colorStyle": "color: #DDCC00"
                  }
             ],
             "photoLink": "/i/m/hohosky_big.jpg",
             "isCopilot": {
                  "value": true,
                  "software": false,
                  "studio": false
             },
             "isPM": false,
            "Achievements":
            [
                {
                  "date": "03.17.2013 00:00 EDT",
                  "description": "First Forum Post"
                 },
                 {
                  "date": "02.19.2013 00:00 EST",
                  "description": "One Hundred Forum Posts"
                 },
                 {
                  "date": "10.03.2012 00:00 EDT",
                  "description": "First Passing Submission"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Successful Challenge"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Rated Algorithm Competitions"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Successful Challenges"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "SRM Winner Div 2"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div1 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Rated Algorithm Competition"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div2 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First SRM Room Win (Any Division)"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Ten Solved Algorithm Problems"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Solved Algorithm Problem"
                 },
                 {
                  "date": "09.17.2012 00:00 EDT",
                  "description": "Five Hundred Forum Posts"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Win"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Placement"
                 },
                 {
                  "date": "08.20.2012 00:00 EDT",
                  "description": "TopCoder Reviewer"
                 },
                 {
                  "date": "04.10.2012 00:00 EDT",
                  "description": "2012 TopCoder Open Mod Dash Champion"
                 },
                 {
                  "date": "04.07.2012 00:00 EDT",
                  "description": "One Thousand Forum Posts"
                 },
                 {
                  "date": "09.28.2011 00:00 EDT",
                  "description": "2011 TopCoder Open Mod Dash Finalists"
                 },
                 {
                  "date": "10.14.2010 00:00 EDT",
                  "description": "2010 TopCoder Open Mod Dash Finalist"
                 },
                 {
                  "date": "10.21.2005 00:00 EDT",
                  "description": "Twenty Five Placements"
                 }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"User is not activated."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
            "details:":"User does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## My Profile [/user/profile]
### My Profile [GET]
+ Request

    + Headers

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTI4MTc4ODQsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzkyNzU3ODg0fQ.7X2IKkiyyI1ExSM5GNpdhJ8fGGK5-oAjzccX6YL_BKY

+ Response 200 (application/json)

        {
             "handle": "hohosky",
             "country": "China",
             "memberSince": "09.28.2005 15:47 EDT",
             "overallEarning": 0,
             "quote": "Focus is a matter of deciding what things you're not going to do.",
             "ratingsSummary": [
                  {
                   "name": "Development",
                   "rating": 1906,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Design",
                   "rating": 1516,
                   "colorStyle": "color: #DDCC00"
                  },
                  {
                   "name": "Specification",
                   "rating": 1747,
                   "colorStyle": "color: #DDCC00"
                  }
             ],
             "photoLink": "/i/m/hohosky_big.jpg",
             "isCopilot": {
                  "value": true,
                  "software": false,
                  "studio": false
             },
             "isPM": false,
            "Achievements":
            [
                {
                  "date": "03.17.2013 00:00 EDT",
                  "description": "First Forum Post"
                 },
                 {
                  "date": "02.19.2013 00:00 EST",
                  "description": "One Hundred Forum Posts"
                 },
                 {
                  "date": "10.03.2012 00:00 EDT",
                  "description": "First Passing Submission"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Successful Challenge"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Rated Algorithm Competitions"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Five Successful Challenges"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "SRM Winner Div 2"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div1 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Rated Algorithm Competition"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Solved Hard Div2 Problem in SRM"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First SRM Room Win (Any Division)"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "Ten Solved Algorithm Problems"
                 },
                 {
                  "date": "09.28.2012 00:00 EDT",
                  "description": "First Solved Algorithm Problem"
                 },
                 {
                  "date": "09.17.2012 00:00 EDT",
                  "description": "Five Hundred Forum Posts"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Win"
                 },
                 {
                  "date": "08.27.2012 00:00 EDT",
                  "description": "First Placement"
                 },
                 {
                  "date": "08.20.2012 00:00 EDT",
                  "description": "TopCoder Reviewer"
                 },
                 {
                  "date": "04.10.2012 00:00 EDT",
                  "description": "2012 TopCoder Open Mod Dash Champion"
                 },
                 {
                  "date": "04.07.2012 00:00 EDT",
                  "description": "One Thousand Forum Posts"
                 },
                 {
                  "date": "09.28.2011 00:00 EDT",
                  "description": "2011 TopCoder Open Mod Dash Finalists"
                 },
                 {
                  "date": "10.14.2010 00:00 EDT",
                  "description": "2010 TopCoder Open Mod Dash Finalist"
                 },
                 {
                  "date": "10.21.2005 00:00 EDT",
                  "description": "Twenty Five Placements"
                 }
            ],
            "emails": [
            {
                "email": "foo@fooonyou.com",
                "type": "Primary",
                "status": "Active"
            }
            ],
            "name": "firstdok lastdok",
            "address": "address1, city, Maine, 04043, United States",
            "age": "25 - 34",
            "gender": "Male",
            "shirt_size": "Medium",
            "privacy": {
                "showMySchool": "Yes",
                "showMyEarnings": "No",
                "receiveMessages": "Yes",
                "messageBlackList": ["handleA", "handleB"]
             },
             "emailNotification": {
                "competitionAnnouncements": {
                    "algorithmCompetitions": "No",
                    "softwareDevelopmentOpportunities": "Yes",
                    "topCoderStudioCompetitions": "No"
                },
                "others": {
                    "employmentOpportunities": "Yes",
                    "topCoderNewsAndEvents": "Yes",
                    "topCoderDesignStudioNewsletter": "No"
                }
             },
             "demographic": {
                "nonEnglishName": "name1",
                "jobTitle": "Lorem ipsum",
                "company": "company1",
                "country": "Indonesia",
                "representedCountry": "Indonesia",
                "phone": "555555",
                "timeZone": "US/Central",
                "age": "18 - 25",
                "gender": "Male",
                "ethnicBackground": "Asian or Pacific Islander",
                "primaryInterest": "Creative Competition",
                "shirtSize": "Small",
                "collegeMajor": "Computer Science",
                "collegeMajorDescription": "Software Design",
                "degreeProgram": "Bachelors",
                "graduationDate": "21/02/2011",
                "clubsOrOrganizations": "None",
                "school": "Harvard University",
                "gpa": 3.5,
                "gpaScale": 5,
                "isStudent": "Yes",
                "isProfessional": "No"
             }
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"User is not activated."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"Authentication credential was missing."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

### My Profile [POST]
+ Request

    + Headers

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTI4MTc4ODQsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzkyNzU3ODg0fQ.7X2IKkiyyI1ExSM5GNpdhJ8fGGK5-oAjzccX6YL_BKY

+ Response 200 (application/json)

        {
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"User is not activated."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"Authentication credential was missing."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## My Profile [/user/activation-email]
### My Profile [GET]
+ Request

    + Headers

            Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTI4MTc4ODQsImF1ZCI6InRvcGNvZGVyIiwiaWF0IjoxMzkyNzU3ODg0fQ.7X2IKkiyyI1ExSM5GNpdhJ8fGGK5-oAjzccX6YL_BKY

+ Response 200 (application/json)

        {
            success: true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"You're already activated."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"Sorry, you already reached the limit of resend times. Please contact for support."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"This message will explain why the request is invalid or cannot be served."
            "details:":"You must login for this endpoint."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Get User Develop Challenges [/user/{handle}/challenges/develop{?pageIndex}{?pageSize}{?sortColumn}{?sortOrder}]
### Get User Challenges [GET]

+ Parameters
    + handle (required, string, `super`) ... Member Handle
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `type`) ... The column name to sort, can be null.It should be one of id, type, placement, prize, numContestants, numSubmissions, codingDuration.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1100000,
                    "type": "Code",
                    "placement": 1,
                    "prize": true,
                    "numContestants": 5,
                    "numSubmissions": 2,
                    "codingDuration": 1440,
                    "platforms": [
                        "AWS",
                        "wordpress"
                    ],
                    "technologies": [
                        "AJAX",
                        "Applet"
                    ]
                },
                {
                    "id": 1100001,
                    "type": "Assembly",
                    "placement": 2,
                    "prize": true,
                    "numContestants": 5,
                    "numSubmissions": 2,
                    "codingDuration": 1380,
                    "platforms": [],
                    "technologies": []
                }
            ],
            "total": 5,
            "pageIndex": 1,
            "pageSize": 2
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Get User Design Challenges [/user/{handle}/challenges/design{?pageIndex}{?pageSize}{?sortColumn}{?sortOrder}]
### Get User Challenges [GET]

+ Parameters
    + handle (required, string, `super`) ... Member Handle
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `id`) ... The column name to sort, can be null,it's value should be one of id, type, placement, prize, num_contestants, num_submitters, coding_duration.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.

+ Response 200 (application/json)

        {
            "data": [
                {
                    "id": 1100000,
                    "type": "Web Design",
                    "placement": 1,
                    "prize": true,
                    "numContestants": 5,
                    "numSubmissions": 2,
                    "codingDuration": 1440,
                    "platforms": [
                        "AWS",
                        "wordpress"
                    ],
                    "technologies": [
                        "AJAX",
                        "Applet"
                    ]
                },
                {
                    "id": 1100001,
                    "type": "Logo Design",
                    "placement": 2,
                    "prize": true,
                    "numContestants": 5,
                    "numSubmissions": 2,
                    "codingDuration": 1380,
                    "platforms": [],
                    "technologies": []
                }
            ],
            "total": 5,
            "pageIndex": 1,
            "pageSize": 2
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }



## Search My Challenges [/user/challenges{?type}{?pageIndex}{?pageSize}{?sortColumn}{?sortOrder}{?communityId}{?submissionEndFrom}{?submissionEndTo}{?challengeType}{?platforms}{?technologies}{?prizeLowerBound}{?prizeUpperBound}]
### Search My Challenges [GET]

+ Parameters
    + type (required, string, `develop`) ... type (design or develop)
    + pageIndex (optional, number, `1`) ... The paging number, 1-based, -1 if no paging. It can be null.
    + pageSize (optional, number, `50`) ... The max number of the results, should be set if pageIndex is set.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.
    + communityId (optional, number, `1`) ... The community id.
    + submissionEndFrom (optional, string, `2014-03-01`) ... submission end date from value.
    + submissionEndTo (optional, string, `2014-03-15`) ... submission end date to value.
    + challengeType (optional, string, `assembly`) ... challenge type
    + platforms (optional, string, `google,heroku`) ... platforms filter
    + technologies (optional, string, `java,javascript`) ... technologies filter
    + prizeLowerBound (optional, number, `1000`) ... prize lowerbound
    + prizeUpperBound (optional, number, `1200`) ... prize upperbound

+ Response 200 (application/json)

        {
            "total": 30,
            "pageIndex": 1,
            "pageSize": 3,
            "data": [
                {
                    "challengeType": "Web Design",
                    "challengeName": "Cornell - Responsive Storyboard Economics Department Site Redesign Contest",
                    "challengeId": 30036096,
                    "projectId": 6789,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 0,
                    "digitalRunPoints": 500,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT",
                    "roles": ["Submitter", "Reviewer"]
                },
                {
                    "challengeType": "UI Prototype Competition",
                    "challengeName": "Corningstone App UI Prototype 2",
                    "challengeId": 30036099,
                    "projectId": 6484,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 660,
                    "digitalRunPoints": 990,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT",
                    "roles": ["Submitter", "Reviewer"]
                },
                {
                    "challengeType": "Content Creation",
                    "challengeName": "Crowdsourced Application Security Standards and Review",
                    "challengeId": 30036091,
                    "projectId": 6778,
                    "forumId": 1001,
                    "eventId": 1,
                    "eventName": "TCO14",
                    "platforms": [ "Heroku", "NodeJS"],
                    "technologies": [ "JavaScript", "Node.js" ],
                    "numSubmissions": 16,
                    "numRegistrants": 27,
                    "registrationStartDate": "10.27.2013 10:10 EDT",
                    "registrationEndDate": "10.31.2013 10:10 EDT",
                    "checkpointSubmissionEndDate": "10.31.2013 10:10 EDT",
                    "submissionEndDate": "10.31.2013 10:09 EDT",
                    "currentPhaseEndDate": "10.31.2013 10:10 EDT",
                    "currentPhaseRemainingTime": 500,
                    "currentStatus": "Active",
                    "currentPhaseName": "Submission",
                    "challengeCommunity": "Develop",
                    "firstPlaceprize": 1250,
                    "totalPrize": 1800,
                    "totalCheckpointPrize": 400,
                    "reliabilityBonus": 360,
                    "digitalRunPoints": 0,
                    "cmcTaskId": "ab",
                    "numberOfCheckpointsPrizes": 2,
                    "postingDate": "10.31.2013 10:10 EDT",
                    "roles": ["Submitter", "Reviewer"]
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"This message will explain why the URI requested is invalid or the resource does not exist."
        }

+ Response 406 (application/json)

        {
            "name":"Not Acceptable",
            "value":"406",
            "description":"This message will explain why the Search parameters are invalid."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## get User Identity Information [/user/identity]
### Search My Challenges [GET]

+ Request

    + Headers
    
            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTM3MDM1NzEsImF1ZCI6

+ Response 200 (application/json)

        {
            "uid": "132456",
            "handle": "heffan",
            "email": "foo@fooonyou.com"
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect.",
            "details": "You need login for this endpoint."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Get User Algo Challenges [/user/{handle}/challenges/algo{?pageIndex}{?pageSize}{?sortOrder}{?sortColumn}]
### Get User Algo Challenges [GET]

+ Parameters
    + handle (required, string, `heffan`) ... the user handle that to search
    + pageIndex (optional, number, `1`) ... The page index of the returned resources. 1-based. It can be null. The default value will be 1
    + pageSize (optional, number, `10`) ... The page size of the returned resources. 1-based. It can be null. The default value will be 10.
    + sortColumn (optional, string, `id`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.

+ Response 200 (application/json)

        {
            "total": 1,
            "pageIndex": 1,
            "pageSize": 10,
            "data": [
                {
                    "id": 2001,
                    "type": "Single Round Match",
                    "placement": 1,
                    "prize": true,
                    "numContestants": 14,
                    "numSubmitters": 6,
                    "codingDuration": 30000000,
                    "platforms": [],
                    "technologies": [
                        "Java",
                        "C++"
                    ]
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be number."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be equal to -1 or greater than 0"
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be Integer."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be number."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be positive."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be Integer."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": ""
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "handle exceeds 30 characters."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "sortOrder should be an element of asc,desc."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "The sort column 'abc' is invalid, it should be element of id,type,prize,codingDuration,placement,numContestants,numSubmitters."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "The sortColumn is missing."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "User is not activated."
        }

+ Response 404 (application/json)

        {
            "name": "Not Found",
            "value": 404,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "User does not exist."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Get User Marathon Matches Information [/user/{handle}/challenges/marathon{?pageIndex}{?pageSize}{?sortColumn}{?sortOrder}]
### Get User Marathon Matches Information [GET]

+ Parameters
    + handle (required, string, `heffan`) ... the user handle that to search
    + pageIndex (optional, number, `1`) ... The page index of the returned resources. 1-based. It can be null. The default value will be 1
    + pageSize (optional, number, `10`) ... The page size of the returned resources. 1-based. It can be null. The default value will be 10.
    + sortColumn (optional, string, `id`) ... The column name to sort, can be null. The valid value are 'id', 'type', 'placement', 'numContestants', 'numSubmitters', 'codingDuration'.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.


+ Response 200 (application/json)

        {
            "total": 1,
            "pageIndex": 1,
            "pageSize": 10,
            "data": [
                {
                    "id": 2001,
                    "type": "Marathon Match Tournament Round",
                    "placement": 1,
                    "prize": true,
                    "numContestants": 14,
                    "numSubmitters": 6,
                    "codingDuration": 30000000,
                    "platforms": [],
                    "technologies": [
                        "Java",
                        "C++"
                    ]
                }
            ]
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be number."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be equal to -1 or greater than 0"
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be Integer."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageIndex should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be number."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be positive."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be Integer."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "pageSize should be less or equal to 2147483647."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": ""
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "handle exceeds 30 characters."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "User does not exist."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "sortOrder should be an element of asc,desc."
        }

+ Response 400 (application/json)

        {
            "name": "Bad Request",
            "value": 400,
            "description": "The request was invalid. An accompanying message will explain why.",
            "details": "The sort column 'abc' is invalid, it should be element of id,type,prize,codingDuration,placement,numContestants,numSubmitters."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }



## Validate Handle [/users/validate/{handle}]
### Validate Handle [GET]

+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle

+ Response 200 (application/json)

        {
            "valid":true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The handle you entered is not valid"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Validate Social [/users/validateSocial{?socialProviderId}{?socialUserId}]
### Validate Handle [GET]

+ Parameters
    + socialProviderId (required, string, `1`) ... social provider id
    + socialUserId (required, string, `fb124764`) ... social user id

+ Response 200 (application/json)

        {
            "available":true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description": "The request was invalid. An accompanying message will explain why."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Generate Reset Token  [/users/resetToken/{?handle}{?email}]
### Generate Reset Token [GET]
- return "successful" flag set to true

+ Parameters
    + handle (optional, string, `iRabbit`) ... Member Handle or Social Login Username
    + email (optional, string, `test@test.com`) ... Member Email (mutually exclusive with handle parameter)

+ Response 200 (application/json)

        {
            "successful":"true"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Either handle or email must be specified"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Both handle and email are specified"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"You have already requested the reset token, please find it in your email inbox. If it's not there. Please contact support@topcoder.com."
        }

+ Response 404 (application/json)

        {
            "name":"Not Found",
            "value":"404",
            "description":"User does not exist"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }


## Reset Password [/users/resetPassword/{handle}]
### Reset Password [POST]
+ Parameters
    + handle (required, string, `iRabbit`) ... Member Handle
    
+ Attributes
    + token: `snABCD` (required, string) ... The reset password token
    + password: `cnDEFG` (required, string) ... The new password

+ Request Reset Password (application/json)

+ Response 200 (application/json)

        {
             "description": "Your password has been reset!"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Update Password [/users/password]
### Update Password [POST]

+ Attributes
    + oldPassword: `snABCD` (required, string) ... The old password
    + newPassword: `cnDEFG` (required, string) ... The new password

+ Request Update Password (application/json)

+ Response 200 (application/json)

        {
             "description": "Your password has been reset!"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"This message will explain why the request is invalid or cannot be served."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authentication credentials were missing or incorrect."
        }

+ Response 403 (application/json)

        {
            "name":"Forbidden",
            "value":"403",
            "description":"The request is understood, but it has been refused or access is not allowed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Activate User [/users/activate{?code}]
### Activate User [GET]
+ Parameters
    + code (required, string, `BHWXAG3R`) ... The activation code

+ Response 200 (application/json)

        {
             "success": true
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Empty activation code"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Invalid activation code"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"User has been activated"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"Email has been activated"
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

## Upload Member Photo [/users/photo]
### Upload Member Photo [POST]

Request

    + Headers

        Authorization : Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHwxMzI0NTYiLCJleHAiOjEzOTM3MDM1NzEsImF1ZCI6

+ Parameters
    + photo (required, file) ... The photo file.

+ Response 200 (application/json)

        {
             "message":"Success"
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo has to be in following format: jpeg,png,bmp,jpg."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo has to be a file."
        }

+ Response 400 (application/json)

        {
            "name":"Bad Request",
            "value":"400",
            "description":"The photo should be less than 1Mb."
        }

+ Response 401 (application/json)

        {
            "name":"Unauthorized",
            "value":"401",
            "description":"Authorization information needed."
        }

+ Response 500 (application/json)

        {
            "name":"Internal Server Error",
            "value":"500",
            "description":"Unknown server error. Please contact support."
        }

+ Response 503 (application/json)

        {
            "name":"Service Unavailable",
            "value":"503",
            "description":"Servers are up but overloaded. Try again later."
        }

#Group Software Challenges

## Review Opportunities [/develop/reviewOpportunities/?{filter}={value}{&pageIndex}{&pageSize}{&sortColumn}{&sortOrder}
### Get Review Opportunities [GET]

+ Parameters
    + filter (optional, string, `type`) ... You can set multi key=value pair parameters to set the filter parameters. The filter parameter can only be following key: reviewType, challengeName, challengeType, reviewStartDate.type, reviewStartDate.firstDate, reviewStartDate.secondDate, reviewEndDate.type, reviewEndDate.firstDate, reviewEndDate.secondDate, reviewPaymentLowerBound, reviewPaymentUpperBound. For the reviewStartDate and reviewEndDate's type, it can only be(case sensitive) BEFORE, AFTER, ON, BETWEEN_DATES, BEFORE_CURRENT_DATE, AFTER_CURRENT_DATE. When the type is BETWEEN_DATES, the secondDate should be provided. The date value should follow this pattern YYYY-MM-DD.
    + value (optional, string, `Development`) ... Value of the filter key-value pair
    + pageIndex (optional, number, `1`) ... The page index of the returned resources. 1-based. It can be null. The default value will be 1
    + pageSize (optional, number, `50`) ... The page size of the returned resources. 1-based. It can be null. The default value will be 10.
    + sortColumn (optional, string, `challengeName`) ... The column name to sort, can be null.
    + sortOrder (optional, string, `asc`) ... The sorting order, can be null. If it's set, it can only be 'asc' or 'desc'.

+ Response 200 (application/json)

        {
            "total": 21,
            "pageIndex": 1,
            "pageSize": 4,
            "data": [
                {
                    "primaryReviewerPayment": 18.00,
                    "secondaryReviewerPayment": 0,
                    "numberOfSubmissions": 1,
                    "reviewStart": "10.29.2013 21:13 EDT",
                    "reviewEnd": "10.31.2013 21:13 EDT",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "First 2 Finish",
                    "reviewType": "Iterative Review",
                    "challengeName": "Simple UI Fixes - Ganttview JS App",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039333",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7064"
                },
                {
                    "primaryReviewerPayment": 346.00,
                    "secondaryReviewerPayment": 252.00,
                    "numberOfSubmissions": 3,
                    "reviewStart": "01.29.2014 16:05 EST",
                    "reviewEnd": "01.31.2014 16:05 EST",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "Assembly Competition",
                    "reviewType": "Contest Review",
                    "challengeName": "Module Assembly - TopCoder NodeJS Open Bugs API",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039321",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7048"
                },
                {
                    "primaryReviewerPayment": 50.00,
                    "secondaryReviewerPayment": 0,
                    "numberOfSubmissions": 0,
                    "reviewStart": "01.24.2014 16:05 EST",
                    "reviewEnd": "01.24.2014 20:05 EST",
                    "numberOfReviewPositionsAvailable": 1,
                    "challengeType": "Assembly Competition",
                    "reviewType": "Spec Review",
                    "challengeName": "Module Assembly - TopCoder NodeJS Open Bugs API",
                    "challengeLink": "http://community.topcoder.com/tc?module=ProjectDetail&pj=30039321",
                    "detailLink": "http://community.topcoder.com/tc?module=ReviewAuctionDetails&aid=7048"
                },
                {
                    "primaryReviewerPayment": 0,
                    "secondaryReviewerPayment": 180.00,
                    "numberOfSubmissions": 1,
                    "reviewStart": "01.27.2014 21:10 EST",
                    "reviewEnd": "01.30.2014 21:10 EST",
[...]
