<p>
Hi, <%= handle %>,
</p>

<p>
We have received a request to reset your password. If you requested this, please follow these steps to reset your password:
</p>

<ol>
<li>Visit this page: http://<%= tcSiteAddress %>/password-reset</li>
<li>Enter your username and new password. Confirm your new password.</li>
<li>Use the unlock code <%= token %> to continue the process. The unlock code will expire at [<%= expiry %>].</li>
</ol>

<p>
If you did not make the request and/or believe you got this message in error, please email support@topcoder.com to let us know.
</p>

<p>
-topcoder
</p>