//-
//- Copyright (c) 2013 TopCoder, Inc. All rights reserved.
//- @author TCSASSEMBLER
//-
!!!
html
  head
    title Error
  body
    h3 Error Page
    p
      b Status Code:
      span #{status}
      br
      b Detail:
      span "#{error}"