
<img src="http://www.topcoder.com/wp-content/themes/tcs-responsive/i/logo.png" alt="" width="330" height="58" />
<h1>Welcome to topcoder, <span style="color: #ff0000;"><%= handle %></span>!</h1>

<p>Thank you for registering for topcoder! You've joined a unique community of design, development and data science specialists! <a href="http://www.topcoder.com/challenges">Start competing today</a> for money, special prizes, badges and bragging rights!</p>

<h2>Getting Started</h2>

<p>Take a look at our <a href="http://www.topcoder.com/challenges">list of open challenges</a> and find one that interests you. Before you dive in you may want to check out our <a href="http://www.topcoder.com/community/getting-started/">getting started</a> page to see how the process works.</p>

<h2>Things to do</h2>

<ul>
<li>Fill in your profile</li>
<li>Check out the <a href="http://help.topcoder.com/">Help Center</a></li>
<li>Look at a previous challenges or try a practice one!</li>
<li>Register for your <a href="http://www.topcoder.com/challenges">first challenge</a></li>
<li>Check out the <a href="http://forums.topcoder.com/">forums</a></li>
</ul>

<p>&nbsp;</p>

<h2>Stay up to date on our latest development challenges for money, special prizes and badges:</h2>

<ul>
<li><a href="http://mandrillapp.com/track/click.php?u=4521742&amp;id=76c917caf5cc4102a84bb136eea4bac3&amp;url=http%3A%2F%2Ffeedburner.google.com%2Ffb%2Fa%2Fmailverify%3Furi%3Dcloudspokes%2Fcontests%2Fall&amp;url_id=c77e28f60632dbcf65d4f711cdbb62444661dcaa">Subscribe to our email list</a> to receive a summary of our latest challenges</li>
<li>Subscribe to our RSS feed for <a href="http://www.topcoder.com/challenges/feed/?list=active&amp;contestType=">new, open challenges</a></li>
<li>Watch the <a href="http://www.topcoder.com/blog">topcoder Blog</a> for the latest info, submission results and videos</li>
<li>Chat with our members on our <a href="http://forums.topcoder.com/">discussion forums</a></li>
</ul>

<p>Regards, <br /> The topcoder Team <br /> <em>...where the rubber meets the code!<span style="font-size: 1.5em;">&nbsp;</span></em></p>

<h2>Follow Us!</h2>

<h2>
  <a class="fb" href="https://www.facebook.com/topcoder"><img src="http://www.topcoder.com/i/social_icons/facebook.png"/></a>
  <a class="tw" href="https://www.twitter.com/topcoder"><img src="http://www.topcoder.com/i/social_icons/twitter.png"/></a>
  <a class="gp" href="https://plus.google.com/+topcoder"><img src="http://www.topcoder.com/i/social_icons/google.png"/></a>
  <a class="in" href="https://www.linkedin.com/company/topcoder"><img src="http://www.topcoder.com/i/social_icons/linkedin.png"/></a>
</h2>

