//-
//- Copyright (c) 2013 TopCoder, Inc. All rights reserved.
//- @author TCSASSEMBLER
//-
!!!
html
    head
        title='client'
        script(src='/javascript/jquery-1.9.1.js')
        script(src='/javascript/script.js')
        style
            #access-token {
                width: 500px;
            }
            #return-text {
                width: 800px;
                border: 1px solid red;
                margin-top: 10px;
                height: 500px;
                overflow: scroll;
            }
    body
        a(href='/topcoderoauth',target="_blank") Authorize the client app.
        br
        br
        label Enter accessToken Here: 
        input(type='text', id='access-token')
        br
        input(type='button',value='Get Contest Types',id='get-contests-types')
        br
        h1 Response from server
        div#return-text