<p>
An error happened when processing DocuSign callback.
The support team needs to look into the cause immediately. The details follow. <br /> <br />
userId: <%= userId %> <br />
templateId: <%= templateId %> <br />
envelopeId=<%= envelopeId %> <br />
error: <%= message %>
</p>