<p>Hi <%= userHandle %>,</p>

<p>Welcome to topcoder!</p>

<p>
Please confirm your email address by clicking this
<a href="<%= url %>">link</a> and then you will be able to start
competing and collaborating on the topcoder community!
</p>

<p>
Regards, <br/>
The topcoder Team <br/>
<em>..where the rubber meets the code!</em>
</p>

<h2>Follow Us!</h2>

<h2>
  <a class="fb" href="https://www.facebook.com/topcoder"><img src="http://www.topcoder.com/i/social_icons/facebook.png"/></a>
  <a class="tw" href="https://www.twitter.com/topcoder"><img src="http://www.topcoder.com/i/social_icons/twitter.png"/></a>
  <a class="gp" href="https://plus.google.com/+topcoder"><img src="http://www.topcoder.com/i/social_icons/google.png"/></a>
  <a class="in" href="https://www.linkedin.com/company/topcoder"><img src="http://www.topcoder.com/i/social_icons/linkedin.png"/></a>
</h2>
