Thank you for registering with TopCoder!

To activate your account, navigate to the following URL:
<a href="<%= url %>"><%= url %></a>

Your activation code is: <%= activationCode %>

If you cannot click on the web address above, please copy the address into your web browser to continue.  If the address spans two lines, please make sure you copy and paste both sections without any spaces between them.
