<p>Hi <%= userHandle %>,</p>

<p>Welcome to the topcoder!</p>

<p>
Please confirm your email address by clicking this
<a href="<%= url %>">link</a> and then you will be able to start
competing and collaborating on the topcoder community!
</p>

<p>
Regards, <br/>
The topcoder Team <br/>
<em>..where the rubber meets the code!</em>
</p>

<h2>Follow Us!</h2>

<h2>
  <a class="fb" href="http://www.facebook.com/topcoderinc"><img src="http://ctrlq.org/html-mail/img/facebook.png"/></a>
  <a class="tw" href="http://www.twitter.com/topcoder"><img src="http://ctrlq.org/html-mail/img/twitter.png"/></a>
  <a class="gp" href="https://plus.google.com/u/0/b/104268008777050019973/104268008777050019973/posts"><img src="http://ctrlq.org/html-mail/img/linkedin.png"/></a>
  <a class="in" href="https://www.linkedin.com/company/topcoder"><img src="http://ctrlq.org/html-mail/img/linkedin.png"/></a>
</h2>
